<app-navbar-login></app-navbar-login>


<!-- contenido login -->
<div class="container">
  <div class="formulario">
    <div class="col-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <div>
            <form id="registerform" autocomplete="off">
              <!-- -------------------------Titulo--------------------------------------------------------------- -->
                     <div class="card-title">Confirmar Contraseña</div>
              <!-- ----------------------------Nombre de Usuario----------------------------------------------- -->
              <div class="mb-3">
                    <label for="email" class="form-label">Porfavor,confirma tu contraseña antes de continuar.</label>
                          <div class="input-icon">
                                  <input type="email" class="form-control input-with-icon" id="email"  required/>
                                  <mat-icon class="input-icon" matSuffix>lock</mat-icon>
                          </div>
              </div>

              <div class="botones" justify-content="space-between">
                         <div class="acceder">
                                 <button type="submit" class="btn btn-primary">Acceder</button>
                                 <a href="">¿Olvidaste tu contraseña?</a>
                         </div>
             </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>c
