<!-- todo el estilo de este componente esta en footer2.component.css -->
<footer class="footer2" >
         <div class="container-fluid">
                 <div>
                           <img class="logo" src="./assets/imagenes/plataforma_logo.png" alt="">
                  </div>

                  <div class="enlaces">
                           <div class="enlace">
                                   <a  href=""><mat-icon >mail</mat-icon>Contacto&#64;plataforma-educativa.mx</a>
                          </div>
                           <div class="enlace">
                                    <a   href=""><mat-icon >language</mat-icon>www.plataforma-educativa.mx</a>
                          </div>
                  </div>

                  <div class="need">
                       <div class="elementoP">
                            <p class="tittle">¿Necesitas ayuda?</p>
                       </div>

                       <div>
                             <p class="tittle2">
                                <a href="">Preguntas Frecuentes</a>  |
                                <a  href="">Tutoriales</a> |
                                <a  href="">Aviso de Privacidad</a> |
                                <a  href="">Reportar una Falla</a>
                            </p>
                      </div>
                  </div>

                  <div>
                    <img class="logo" src="../../../assets/imagenes/ITTEC.png" alt="">
                  </div>

                  <div class="need">
                       <div >
                            <p>Copyright &copy; <strong>2024 ITTEC. Tecnología Inteligente.</strong></p>
                       </div>

                      
               
                      <div class="contactos">
                        
                        
                           <div class="contacto">
                                <a href=""><mat-icon>language</mat-icon>www.ittec.mx | </a>
                           </div>

                           <div class="contacto">
                                <a href=""><mat-icon> mail</mat-icon> Soluciones&#64;ittec.mx | </a>
                           </div>

                           <div class="contacto">
                                <a href="" ><mat-icon >phone_iphone</mat-icon> 5562672444</a>
                           </div>
                        

                       </div>

                </div>
                 
        </div>
                    
             


        
</footer>
  
