<!-- -------------navbar cuado el usuario esta en la ventana de perfil y logueado-------------------- -->
<div>
  <nav class="navbar navbar-light bg-ligth">
    <div class="container-fluid">
      <div>
        <a class="navbar navbar-brand" routerLink="/">Colegio ABC</a>
      </div>

      <div>
        <img
          class="logoPlataforma"
          src="assets/imagenes/plataforma_logo.png"
          alt="Descripción de la imagen"
          width="30%"
        />
      </div>

      <div>
        <img
          class="logoEscuela"
          src="assets/imagenes/escuela_logo.png"
          alt="Descripción de la imagen"
          width="30%"
        />
      </div>
    </div>
  </nav>
</div>
